
.wrapper2 {
	position: absolute;	
	top: 50%;
	left: 25%;
	transform: translate(-75%, -50%); 
	display: inline-block;
}

.mail2 {
	width: 300px;
	height: 200px;
	background: #c5d5ea; 	
	position: relative;
	transform-style: preserve-3d;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.mail2:before {
 	content: '';
	position: absolute;
	top: 0;
	right: 0;
	/* BOTTOM RIGHT TRIANGLE */
	border-left: 150px solid transparent; 
	border-right: 150px solid #546B86;		
	border-top: 100px solid transparent;  		
	border-bottom: 100px solid #546B86;	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; 
	z-index: 5;	
}
.mail2:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-left: 150px solid #7392b7;
	border-right: 150px solid transparent;
	border-top: 100px solid transparent;
	border-bottom: 100px solid #7392b7;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;  
	z-index: 4;
}

.cover2{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 100px solid #c5d5ea;
	border-bottom: 100px solid transparent;
	z-index: 6; 
	transform-origin: top; /* to animate cover to open from top */
	transform: rotateX(0deg); 
	transition: all 1s 1s ease;  /* for smooth effect */
}
.letter2 {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 10px;
	background: #ebebeb;
	width: 280px;
	height: 180px;
	border-radius: 20px;
	transition: all 1s ease;
}


.mail2:hover .cover2:before {
	transform: rotateX(180deg);
	z-index: 1;
	transition: all 1s ease;
	cursor: pointer;
}

.frame2 {
	width: 0px;
	height: 00px;
	margin: 250px auto 0;
	background: none;
	border-radius: 0 0 40px 40px;
}

#openbutton2 {
	width: 50px;
	height: 20px;
	background-color: #6b5e62;
	text-align: center;
	position: absolute;
	z-index: 6;
	top: 68%;
	left: 18%;
	transform: translate(-50%, -26%); 
	border-radius: 10px;
	color: #fff;
	font: 15px Futura PT;
	padding: 8px 8px;
	border-bottom-left-radius: 2px solid #fff;
	transition: .3s;
	position: absolute;
	transform: translate(-110%, -40%); 

}


#openbutton2:hover {
	background: #86767b;
	cursor: pointer;
}

.open2 {
	transform: rotateX(200deg);
	z-index: 4;
	transition: all 1s ease;
	cursor: pointer;
}

.frameclose2 {
	width: 0px;
	height: 00px;
	margin: 250px auto 0;
	background: none;
	border-radius: 0 0 40px 40px;
}
#closebutton2 {
	width: 50px;
	height: 20px;
	background-color: #6b5e62;
	text-align: center;
	position: absolute;
	z-index: 6;
	top: 68%;
	left: 18%;
	transform: translate(-50%, -26%); 
	border-radius: 10px;
	color: #fff;
	font: 15px Futura PT;
	padding: 8px 8px;
	border-bottom-left-radius: 2px solid #fff;
	transition: .3s;
	position: absolute;
	transform: translate(10%, -40%); 

}


#closebutton2:hover {
	background: #86767b;
	cursor: pointer;
}

.close2 {
	transform: rotateX(0deg);
	z-index: 4;
	transition: all 1s ease;
	transition-delay: 2.5s;
	cursor: pointer;
}

.pull2 {
	-webkit-animation:message_animation 2s 1 ease-in-out;
	animation: message_animation 2s 1 ease-in-out;
	-webkit-animation-delay: 9s;
	animation-delay: .45s;
	transition: 1.5s;
	transition-delay: 1s;
	z-index: 350;

}

.pullback2 {
	-webkit-animation:back_animation 2s 1 ease-in-out;
	animation: back_animation 2s 1 ease-in-out;
	-webkit-animation-delay: 9s;
	animation-delay: .45s;
	transition: 1.5s;
	transition-delay: 1s;
	z-index: 1;
}

@-webkit-keyframes message_animation {
	0%{
		transform: translateY(0px);
		z-index: 1;
		transition: 1s ease-in-out;
	}

	50% {
		transform: translateY(-300px);
		z-index: 1;
		transition: 1s ease-in-out;
	}
	51% {
		transform: translateY(-300px);
		z-index: 6;
		transition: 1s ease-in-out;
	}
	100% {
		transform: translateY(0px);
		z-index: 6;
		transition: 1s ease-in-out;
	}
}

@-webkit-keyframes back_animation {
	0%{
		transform: translateY(0px);
		z-index: 6;
		transition: 1s ease-in-out;
	}

	50% {
		
		transform: translateY(-300px);
		z-index: 6;
		transition: 1s ease-in-out;
	}
	51% {
		transform: translateY(-300px);
		z-index: 3;
		transition: 1s ease-in-out;
	}
	100% {
		transform: translateY(0px);
		z-index: 3;
		transition: 1s ease-in-out;
	}
}

h2 {
	font: 15px Courier New;
	margin: 30px;
}


h3 {
	font: 12px Courier New;
	margin: 30px;
}

h4 {
	font: 12px Courier New;
	margin: 30px;
}







